<?xml version="1.0" encoding="UTF-8"?>
<settings>
	<servers>
		<server>
			<username>CPS569U</username>
			<password>22ead09c-4d47-4867-a251-30ed4d42a220</password>
			<id>painel.repoapp</id>
		</server>
		<server>
			<username>CPS569U</username>
			<password>0357e73a-921b-4b26-81e5-9ba25a3fc68b</password>
			<id>painel.repodep</id>
		</server>
		<server>
			<username>CPS569U</username>
			<password>0357e73a-921b-4b26-81e5-9ba25a3fc68b</password>
			<id>snapshots</id>
		</server>
		<server>
			<username>CPS569U</username>
			<password>0357e73a-921b-4b26-81e5-9ba25a3fc68b</password>
			<id>central</id>
		</server>
		<server>
			<username>CPS569U</username>
			<password>0357e73a-921b-4b26-81e5-9ba25a3fc68b</password>
			<id>itau-k9-custodiamercadocapitais-maven-central</id>
		</server>
		<server>
			<username>CPS569U</username>
			<password>0357e73a-921b-4b26-81e5-9ba25a3fc68b</password>
			<id>itau-k9-custodiamercadocapitais-maven-snapshots</id>
		</server>
	</servers>
	<profiles>
		<profile>
			<repositories>
				<repository>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<id>central</id>
					<name>painel.repodep</name>
					<url>http://painel.repodep.des.cloud.ihf:80/artifactory/maven-devel</url>
				</repository>
				<repository>
					<snapshots />
					<id>snapshots</id>
					<name>painel.repodep</name>
					<url>http://painel.repodep.des.cloud.ihf:80/artifactory/maven-devel</url>
				</repository>
				<repository>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<id>itau-k9-custodiamercadocapitais-maven-central</id>
					<name>itau-k9-custodiamercadocapitais-maven</name>
					<url>http://painel.repodep.des.cloud.ihf:80/artifactory/itau-k9-custodiamercadocapitais-maven</url>
				</repository>
				<repository>
					<snapshots />
					<id>itau-k9-custodiamercadocapitais-maven-snapshots</id>
					<name>itau-k9-custodiamercadocapitais-maven</name>
					<url>http://painel.repodep.des.cloud.ihf:80/artifactory/itau-k9-custodiamercadocapitais-maven</url>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<id>central</id>
					<name>maven-devel</name>
					<url>http://painel.repodep.des.cloud.ihf:80/artifactory/maven-devel</url>
				</pluginRepository>
				<pluginRepository>
					<snapshots />
					<id>snapshots</id>
					<name>maven-devel</name>
					<url>http://painel.repodep.des.cloud.ihf:80/artifactory/maven-devel</url>
				</pluginRepository>
				<pluginRepository>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<id>itau-k9-custodiamercadocapitais-maven-central</id>
					<name>itau-k9-custodiamercadocapitais-maven</name>
					<url>http://painel.repodep.des.cloud.ihf:80/artifactory/itau-k9-custodiamercadocapitais-maven</url>
				</pluginRepository>
				<pluginRepository>
					<snapshots />
					<id>itau-k9-custodiamercadocapitais-maven-snapshots</id>
					<name>itau-k9-custodiamercadocapitais-maven</name>
					<url>http://painel.repodep.des.cloud.ihf:80/artifactory/itau-k9-custodiamercadocapitais-maven</url>
				</pluginRepository>
			</pluginRepositories>
			<id>artifactory</id>
		</profile>
	</profiles>
	<activeProfiles>
		<activeProfile>artifactory</activeProfile>
	</activeProfiles>
</settings>